<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aevi.sdk.pos.flow.sample">

    <application>

        <activity
            android:name=".ui.ModelDetailsActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Popup">
        </activity>

        <activity
            android:name=".ui.FlowStagesActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Popup">
        </activity>

    </application>


</manifest>