<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aevi.sdk.pos.flow.paymentservicesample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppThemeNoActionBar"
            tools:ignore="GoogleAppIndexingWarning">

        <service
                android:name=".service.PaymentService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_GENERIC"/>
                <action android:name="com.aevi.sdk.flow.action.READ_PAYMENT_CARD"/>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_TRANSACTION"/>
            </intent-filter>
        </service>

        <provider
                android:name=".PaymentServiceInfoProvider"
                android:authorities="com.aevi.sdk.pa.sample.config"
                android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROVIDE_SERVICE_INFO"/>
            </intent-filter>
        </provider>

        <activity
                android:name=".ui.TransactionProcessingActivity"
                android:excludeFromRecents="true"
                android:label="@string/pss_txn_processing"
                android:resizeableActivity="false">
        </activity>

        <activity
                android:name=".ui.PaymentCardReadingActivity"
                android:excludeFromRecents="true"
                android:label="@string/pss_card_reading"
                android:resizeableActivity="false">
        </activity>

        <activity
                android:name=".ui.TokenisationActivity"
                android:excludeFromRecents="true"
                android:label="@string/pss_select_token"
                android:resizeableActivity="false"/>

    </application>

</manifest>