<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aevi.sdk.pos.flow.flowservicesample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name=".PaymentFlowServiceInfoProvider"
            android:authorities="com.aevi.sdk.pos.flow.sample.provider"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROVIDE_SERVICE_INFO"/>
            </intent-filter>
        </provider>

        <service
            android:name=".service.ShowLoyaltyPointsBalanceService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_GENERIC"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.PostGenericSampleService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_GENERIC"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.FlowActivityProxyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_PRE_FLOW"/>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_SPLIT"/>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_PRE_TRANSACTION"/>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_CARD_READING"/>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_TRANSACTION"/>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_FLOW"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SplitActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_split">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_SPLIT_IN_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PreTransactionActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_pre_payment">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_PRE_TRANSACTION_IN_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PostCardActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_post_card">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_CARD_READING_IN_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PreFlowActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_pre_flow">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_PRE_FLOW_IN_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PostTransactionActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_post_payment">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_TRANSACTION_IN_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PostFlowActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_post_flow">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_POST_FLOW_IN_ACTIVITY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/sample_settings"
            android:noHistory="true"
            android:theme="@style/AppThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoyaltyBalanceActivity"
            android:excludeFromRecents="true"
            android:label="@string/fss_loyalty_balance">
        </activity>
    </application>

</manifest>