<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aevi.sdk.pos.flow.paymentinitiationsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.RequestInitiationActivity"/>
        <activity
            android:name=".ui.PopupActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Popup">
        </activity>
        <activity
            android:name=".ui.PaymentResultActivity"
            android:label="@string/payment_result"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth">
        </activity>
        <activity
            android:name=".ui.GenericResultActivity"
            android:label="@string/payment_result"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth">
        </activity>
    </application>

</manifest>