<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aevi.sdk.pos.flow.paymentinitiationsample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.PaymentInitiationActivity"/>
        <activity android:name=".ui.RequestInitiationActivity"/>
        <activity android:name=".ui.ReceiptRequestInitiationActivity"/>
        <activity
                android:name=".ui.PopupActivity"
                android:excludeFromRecents="true"
                android:noHistory="true">
        </activity>
        <activity
                android:name=".ui.PaymentResultActivity"
                android:label="@string/payment_result">
        </activity>
        <activity
                android:name=".ui.GenericResultActivity"
                android:label="@string/payment_result">
        </activity>

        <service
                android:name=".PaymentResponseListenerService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_PAYMENT_RESPONSE"/>
            </intent-filter>
        </service>

        <service
                android:name=".ResponseListenerService"
                android:exported="true">
            <intent-filter>
                <action android:name="com.aevi.sdk.flow.action.PROCESS_RESPONSE"/>
            </intent-filter>
        </service>

    </application>

</manifest>